<div class="bulk-add">
	<h2>Paste your comma-separated text below:</h2>
    <h5>KBArticle,Classification,Status,Details,Product,PublishDate,URL</h5>
    <form id="bulk-edit-form">
        <textarea id="bulkEditText" rows="10" cols="50" placeholder="Ex: 4552152,Security,Approved,,Windows 10 1903,2020/4/14,https://windows.update.com" value=""></textarea>
        <br>
        <input type="submit" id="bulkSubmitBtn">
        <a href="/"><input type="button" value="Back"></a>    
    </form>
</div>