<div class="container">
    <h2>Paste your comma-separated text below:</h2>
    <form id="bulk-edit-form">
        <textarea id="bulkEditText">
            
        </textarea>
        <input type="submit" id="bulkSubmitBtn"    
    </form>

</div>