<h1>WSUS Tracker</h1>
<div class="navList">
    <select id="navStatusSelect">
        <option id="0" value="Status">Classification</option>
        <option id="1" value="Unapproved">Unapproved</option>
        <option id="2" value="Approved">Approved</option>
        <option id="3" value="Declined">Declined</option>
    </select>
    <input type="text" id="search" placeholder="Enter KB number..."><button name="search">Search</button>
</div>
