<h1><a href="/">WSUS Tracker</a></h1>
<div class="navList">
    <select id="filterSelect-Status" class="filterSelect">
        <option id="0" value="">Filter Status:</option>
        <option id="1" value="Unapproved">Unapproved</option>
        <option id="2" value="Approved">Approved</option>
        <option id="3" value="Declined">Declined</option>
    </select>
    <select id="filterSelect-Classification" class="filterSelect">
        <option id="0" value="">Filter Classification:</option>
        <option id="1" value="Security">Security</option>
        <option id="2" value="Critical">Critical</option>
    </select>
    <input type="text" id="search" placeholder="Enter KB number..."><button name="search">Search</button>
</div>
