* {
	box-sizing: border-box;
	font-family: "Montserrat";
}

.container {
	display: flex;
	flex-direction: row;
}

a {
	text-decoration: none;
	color: black;
}

.nav-list {
	list-style-type: none;
	padding: 0;
}

.nav-list li {
	padding: 3px;
	margin: 0;
	border: none;
}

.nav-list li select {
	padding: 5px;
	border: 1px black solid;
	border-radius: 10px;
}

/* table, */
td {
	border-bottom: 1px solid black;
	border-left: 1px dotted black;
}

th {
	font-size: 12pt;
	text-align: left;
	border-left: 1px dotted black;
}

th img:active {
	opacity: 0;
}

td {
	padding: 0 3px;
}

.show:hover,
.details-row:hover {
	font-weight: bold;
	background-color: lemonchiffon;
}

.active-icon-cell,
.active-icon-cell-add,
.icon-cell {
	border: none;
	width: 24px;
	padding: 0;
	text-align: center;
}

.active-icon-cell,
.active-icon-cell-add {
	cursor: pointer;
}

.inactive-icon {
	color: rgba(141, 103, 103, 0.292);
}

.editForm td input {
	background-color: lemonchiffon;
}

.sort {
	display: flex;
	flex-direction: column;
	float: left;
}

.navList {
	padding: 0;
}

.navList li {
	display: inline;
	list-style: none;
	border: 1px rgb(0, 0, 0) solid;
	padding: 4px;
}

.filterSelect {
	width: 100%;
	border: 1px rgb(0, 0, 0) solid;
}

.filterSelect:focus {
	outline: 0;
}

.asc,
.desc {
	margin: 1px 3px 1px 0px;
	height: 8px;
}

.add-cell {
	padding: 2px 0;
	margin-bottom: 4px;
	background-color: rgb(230, 234, 235);
}

.selectedRow {
	padding: 0 0 0 2px;
	background-color: lemonchiffon;
	font-weight: bold;
}

td select {
	margin: 0;
	border: none;
	width: 100%;
	height: 100%;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
	text-overflow: "";
}

td input {
	padding: 5px;
	border: none;
	height: 100%;
	width: 100%;
}

#search {
	border-radius: 10px;
	padding: 5px;
}

#search:focus {
	outline: 0;
}

#search-result-list {
	padding: 0;
}

.search-result {
	list-style-type: none;
	cursor: pointer;
	border-bottom: 1px solid black;
	border-left: 1px dotted black;
}

.search-result:hover {
	background-color: lemonchiffon;
	font-weight: bold;
}

.nav-button {
	font-size: 10pt;
}

.nav-button:hover {
	text-decoration: underline;
}

.addBtn {
	background: none;
	cursor: pointer;
}

.editBtn {
	cursor: pointer;
}

.edit {
	background-color: gold;
}

#bulkEditText {
	width: 100%;
	height: 80vh;
}

/* commenting out row colors so I can add a feature that lets the user choose a highlight filter
.approved {
	background-color: rgb(192, 225, 238);
}

.declined {
	background-color: wheat;
}

.unapproved {
	background-color: palegoldenrod;
} 
*/

/* .submitEditBtn:active {
	background-color: gold;
} */
