* {
	font-family: "Montserrat";
}

table,
td {
	padding: 5px;
	border: 1px solid black;
}

th {
	font-size: 18pt;
	text-align: left;
	border-left: 1px dotted black;
}

th img:active {
	opacity: 0;
}

.sort {
	display: flex;
	flex-direction: column;
	float: left;
}

li {
	height: 20px;
	width: 24px;
}

.asc,
.desc {
	margin: 1px 3px 1px 0px;
	height: 11px;
}

.selectedRow {
	background-color: lemonchiffon;
}

input {
	padding: 5px;
	border: none;
}

.edit {
	background-color: gold;
}

.submitEditBtn:active {
	background-color: gold;
}
