<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>

    <div id="nav">
        <%- include('../partials/header') %>
    </div>

    <div id="main" class="container">
        <% if (typeof page !== 'undefined') {%>
        <%- include('../partials/' + page) %>
        <% } %>
    </div>

</html>