<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/default/head') %>
</head>

<body>

    <div id="main" class="container">
        <% if (typeof page !== 'undefined') {%>
        <%- include('../partials/' + page) %>
        <% } %>
    </div>
</html>