<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/default/head') %>
</head>

<body>

    <div class="main">
        <%- include('../partials/main/header') %>

        <% if (typeof page !== 'undefined') {%>
        <%- include('../partials/' + page) %>
        <% } %>
    </div>
</html>